.video-container {
    display: block;
    margin: auto;
    width: 100%;
}

/*Youtube CSS*/
.large-youtube-container {
    display: block;
    margin: auto;
    width: 100%;
}

.center_form {
    width: 100%;
    display: inline-block;
}

.meme {
    width: 100%;
}

.image-preview {
    width: 100%;
}

@keyframes menVis {
    from {
        left: -50%;
    }

    to {
        left: 0%;
        visibility: visible;
    }
}

@keyframes menHide {
    from {
        left: 0%;
    }

    to {
        left: -50%;
        visibility: hidden;
    }
}
