.video-container {
    display: block;
    margin: auto;
    width: 80%;
}

/*Youtube CSS*/
.large-youtube-container {
    display: block;
    margin: auto;
    width: 80%;
}

.center_form {
    width: 50%;
    display: inline-block;
}

.meme {
    width: 50%;
}

.image-preview {
    width: 50%;
}

@keyframes menVis {
    from {
        left: -30%;
    }

    to {
        left: 0px;
        visibility: visible;
    }
}

@keyframes menHide {
    from {
        left: 0px;
    }

    to {
        left: -30%;
        visibility: hidden;
    }
}
