.meme 
{
    width: 100%;
}

/*Plain square grey button*/
button {
    background-color: lightgrey;
    border-radius: 5px;
    background-image: none;
    color: black;
    font-size: 20px;
    height: 30px;
    width: 150px;
    border-style: outset;
    border-width: 2px;
    cursor: pointer;
}