body {
    font-family: Verdana;
    -webkit-text-size-adjust: 100%;
}

input[type=email].form-control {
    aria-describedby: "emailHelp";
    placeholder: "Enter email";
}

input[type=text].form-control.login {
    aria-describedby: "emailHelp";
    placeholder: "Enter username";
}

input[type=password].form-control.login {
    aria-describedby: "passwordHelp";
    placeholder: "Password";
}

.center_div {
    margin: 0 auto;
    width: 80% /* value of your choice which suits your alignment */
}
