html {
    
    overflow-y: scroll;
    min-width: 0px;
}

html, body {
    padding: 0px;
    margin: 0px;
    font-family: Verdana;

}

body {
    height: 100%;
    width: 100%;
    padding-top: 55px;
    padding-bottom: 55px;
    font-family: Verdana;
    -webkit-text-size-adjust: 100%;
}

.parsnip-alert {
    position: fixed;
    top: 55px;
    width: 98%;
    margin-left: 1%;
    text-align: left;
}

.parsnip_table{
    width:98%;
    max-width:98%;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.padded-text {
    padding-left: 5%;
    padding-right: 5%;
}

h1{
    font-size:40px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
}

.hov:hover {
    animation: hovfadein 0.5s;
    background-color: dimgrey;
    color: white;
    cursor: pointer;
}

/*No underline in hyperlinks*/
a {
    text-decoration: none;
}


/*Fade in for 0.5 seconds*/
.fade0p5 {
    -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 0.5s; /* Firefox < 16 */
    -ms-animation: fadein 0.5s; /* Internet Explorer */
    -o-animation: fadein 0.5s; /* Opera < 12.1 */
    animation: fadein 0.5s;
}

/*Fade in for 2 seconds*/
.fade2 {
    animation: fadein 2s;
}


/*Key frames for fade in classes*/
@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/*Clock background swithcher*/
.pulse {
    animation-name: pulse;
    animation-duration: 16s;
    animation-iteration-count: infinite;
}


/*Keyframes for clock background swithcher*/
@keyframes pulse {
    0% {
        background-color: grey;
        color: white;
    }

    10% {
        background-color: grey;
        color: white;
    }

    20% {
        background-color: grey;
        color: white;
    }

    30% {
        background-color: grey;
        color: white;
    }

    40% {
        background-color: grey;
        color: white;
    }

    50% {
        background-color: white;
        color: grey;
    }

    60% {
        background-color: white;
        color: grey;
    }

    70% {
        background-color: white;
        color: grey;
    }

    80% {
        background-color: white;
        color: grey;
    }

    90% {
        background-color: white;
        color: grey;
    }

    100% {
        background-color: grey;
        color: white;
    }
}

.video-container {
    display: block;
    margin:auto;
    width: 100%;
    max-width: 600px;
}

/*Youtube CSS*/
.youtube-container {
    display: block;
    margin: auto;
    width: 100%;
    max-width: 600px;
}

.youtube-player {
    display: block;
    width: 100%; /* assuming that the video has a 16:9 ratio */
    padding-bottom: 56.25%;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    cursor: hand;
    cursor: pointer;
    display: block;
}

img.youtube-thumb {
    bottom: 0;
    display: block;
    left: 0;
    margin: auto;
    max-width: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    height: auto
}

/*
button {
   
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    position: relative;
    text-align: center !important;
    vertical-align: middle;
    /* Cosmetics 
    border: 1px solid #fff;
    background: #D5D5D5;
    color: #000;
    padding: 4px;
    /* browser can do it 
    border-radius: 6px;
    -moz-border-radius: 6px;
    /*text-shadow: #000 1px 1px 2px;
    -webkit-border-radius: 6px;
    width:150px;
}
*/

.file-upload {
    display: inline-block;
    overflow: hidden;
    position: relative;
    text-align: center !important;
    vertical-align: middle;
    /* Cosmetics */
    border: 1px solid #fff;
    background: #D5D5D5;
    color: #000;
    padding: 4px;
    /* browser can do it */
    border-radius: 6px;
    -moz-border-radius: 6px;
    /*text-shadow: #000 1px 1px 2px;*/
    -webkit-border-radius: 6px;
}

/* The button size */
.file-upload {
    /*height: 1.3em;*/
    height: 35px;
    cursor: pointer;
    width: 150px;
}

    .file-upload, .file-upload span {
        width: 3.5em;
        width: 150px;
        height: 35px;
    }

        .file-upload input {
            position: absolute;
            top: 0;
            left: 0;
            margin: 0;
            font-size: 11px;
            /* Loses tab index in webkit if width is set to 0 */
            opacity: 0;
            filter: alpha(opacity=0);
        }

        .file-upload strong {
            font: normal 16px Tahoma,sans-serif;
            text-align: center;
            vertical-align: middle;
        }

        .file-upload span {
            position: absolute;
            top: 0;
            left: 0;
            display: inline-block;
            /* Adjust button text vertical alignment */
            padding-top: .15em;
            /*padding-left: 2px;*/
        }
/* FILE UPLOAD END */

div.play-button {
    height: 72px;
    width: 72px;
    left: 50%;
    top: 50%;
    margin-left: -36px;
    margin-top: -36px;
    position: absolute;
    background: url("http://i.imgur.com/TxzC70f.png") no-repeat;
}

#youtube-iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
/* FILE UPLOAD START */

/*Fade in for 1 second*/
.fade1 {
    animation: fadein 1s;
}

/*Hovering over menu button*/
@keyframes hovfadein {
    from {
        background-color: #555;
    }

    to {
        background-color: dimgrey;
    }
}

/*Separates different articles with a small line underneath*/
hr.break {
    height: 3px;
    width: 20px;
    border-radius: 10px;
    background-color: grey;
    border-style: none;
}

.cens_req {
    font-size: 10px;
}

.censored {
    display: none;
}

li {
    text-align: center;
}

.censored {
    display: none;
}

.rotate {
    /*animation: rotate 0.5s;*/
}

.spin {
    /*animation: spin 1s;*/
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(180deg);
    }
}

.cincopa-container {
    display: block;
    margin: 20px auto;
    width: 100%;
    max-width: 600px;
}

@keyframes rotate {
    from {
    }

    to {
        transform: rotate(180deg);
        transform-origin: 50% 56%;
    }
}

.menu:hover {
    animation: pulse 0.5s;
    animation-fill-mode: forwards;
}

@keyframes pulse {
    from {
    }

    to {
        color: grey;
        background-color: white;
    }
}

.menVis {
    animation: menVis 0.2s;
    animation-fill-mode: forwards;
}



.menHide {
    animation: menHide 0.2s;
    animation-fill-mode: forwards;
}



.menHidden {
    visibility: hidden;
}



input[type=email].form-control {
    aria-describedby: "emailHelp";
    placeholder: "Enter email";
}

input[type=text].form-control.login {
    aria-describedby: "emailHelp";
    placeholder: "Enter username";
}

input[type=password].form-control.login {
    aria-describedby: "passwordHelp";
    placeholder: "Password";
}

.center_div {
    margin: 0 auto;
    width: 100% /* value of your choice which suits your alignment */
}
