<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Magick.NET.Core" version="13.10.0" targetFramework="net472" />
  <package id="Magick.NET-Q16-HDRI-AnyCPU" version="13.10.0" targetFramework="net472" />
  <package id="VVVV.FreeImage" version="3.15.1.1" targetFramework="net472" />
</packages>